# Add any directories, files, or patterns you don't want to be tracked by version control
moviefromcard.apk
Assets/Plugins/EasyMovieTexture.bundle/Contents/MacOS.meta
Assets/Plugins/EasyMovieTexture.bundle/Contents/MacOS/ffmpeg
Assets/Plugins/EasyMovieTexture.bundle/Contents/MacOS/ffmpeg.meta
vr-prana.zip
Assets/StreamingAssets/frozenforest.mp4
Assets/StreamingAssets/frozenlake.mp4
pranavr_Data/StreamingAssets/frozenlake.mp4
pranavr.apk
pranavr_Data/resources.assets.resS
pranavr_Data/sharedassets0.assets.resS
